@model IEnumerable<tumibankapp.Data.ExternalBanking>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BankName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankAccountName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankAccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankSortCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BankName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankAccountName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankAccountNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankSortCode)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ExternalTransferId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ExternalTransferId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ExternalTransferId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
